<form action="/changeProfile?_method=PUT" method="POST" enctype="multipart/form-data">
  <label for="userPhoto">Profile Photo</label>
  <input type="file" name="userPhoto" id="profile" placeholder="Profile Photo">
  <button>Change Pictures</button>
</form>