<form action="/changeLogo?_method=PUT" method="POST" enctype="multipart/form-data">
  <label for="coll-logo">College Logo</label>
  <input type="file" name="userPhoto" id="coll-logo" placeholder="College Logo">
  <button>Change Logo</button>
</form>