<!DOCTYPE html>
<html>

<head>
  <title>Error page</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

  <link href="http://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- Latest compiled JavaScript -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="system.css">
</head>

<body>
  <div class="container">
    <div>
      <center>
        <h2 class="home-page"><b>ACCESS DENIED</b></h2>
        <a href="/"><button type="button" class="btn bg-white home-page">Back To Home Page <i
              class="fa fa-angle-double-right"></i></button></a>
      </center>
    </div>
  </div>
</body>

</html>