<strong><a href="/register">Sign Up!</a></strong>
<strong><a href="/login">Login!</a></strong>
<strong><a href="/logout">Logout!</a></strong>
<strong><a href="/forgot">Forgot Password?</a></strong>
<h1>This is the home page!</h1>