  <h1>Welcome to dashboard</h1>
  <h2>Welcome to your profile</h2>
  <p>Form will be added here</p>

  <li><a href="/register">Sign Up!</a></li>
  <li><a href="/login">Login!</a></li>
  <li><a href="/logout">Logout!</a></li>