<strong><a href="/register">Sign Up!</a></strong>
<strong><a href="/login">Login!</a></strong>
<strong><a href="/logout">Logout!</a></strong>
<strong><a href="/forgot">Forgot Password?</a></strong>

<h1>Sign Up Form</h1>

<form action="/register" method="POST">
  <!-- <input type="text" name="username" placeholder="username"> -->
  <input type="text" name="fName" placeholder="First Name">
  <input type="text" name="lName" placeholder="Last Name">
  <input type="text" name="wNumber" placeholder="Number (10 Digits)" pattern="[1-9]{1}[0-9]{9}">
  <!-- <input type="number" name="wNumber" placeholder="WhatsApp Number"> -->
  <input type="text" name="collegeName" placeholder="College Name">
  <input type="email" name="email" placeholder="email">
  <input type="password" name="password" placeholder="password">
  <button>Submit</button>
</form>